
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
main {
    max-width: 100%;
    padding: 0 20px;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

/* Clearfix */
header::before,
header::after {
  display: table;
  content: '';
}

header::after {
  clear: both;
}

@media only screen and (max-width: 500px) {
  
  .start-menu,
  .question-menu,
  .feedback-menu,
  .results-menu {
    width: 80%;  
  }
  
  .feedback-menu img {
    width: 50%;
  }
  

  header ul li {
    width: 40%;
    font-size: .8em;
  }
  
  h2, p {
    font-size: .8em;
  }
}


@media only screen and (min-width: 960px) {
  
 header ul li {
  width: 200px;
  font-size: 18px;
}

.header-logo {
  width: 165px;
  height: 165px;
}

.start-menu {
  font-size: 1.5em;
}


.start-menu,
.question-feedback-target {
  width: 400px;
}


#finished-quiz-img {
  width: 300px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px 10px; 
}

}